body {
    margin: auto;
    font: 13px Arial;
}
ul, li {
    margin: 0;
    padding: 0;
    list-style: none;
}
ul#listPage {
    padding: 20px;
}
ul#listPage li {
    background: #eee;
    padding: 5px;
    border-bottom: 1px solid #ddd;
}
#paging {
    padding: 0 20px 20px 20px;
    font-size: 13px;
}
#paging a {
    color:#000;
    background: #e0e0e0;
    padding: 8px 12px;
    margin-right: 5px;
    text-decoration: none;
}
#paging a.aktif {
    background: #000 !important;
    color:#fff;
}
#paging a:hover{
    border: 1px solid #000;
}

.hidden{
    display: none;
}
